{
    "extends": "divvy",
    "rules": {
        "semi": "warn",
        "react/jsx-key": "warn",
        "no-unused-vars": "warn",
        "react/prop-types": "warn",
        "no-console": "warn"
    }
}